//variables
$primary: #FF5D5D;
$secondary: #FF5D5D;
$gray-light: #EBEBEB;
$gray-darker: darken($gray-light, 25%);
$pop: #5DFFE9;
$green: #75FA69;
$purple: #B75DFF;
$pink: rgba(254, 117, 255, 0.95);
$white: #fff; 
$black: #000;

$sans: Arial, Helvetica, sans-serif;
$serif: Georgia, 'Times New Roman', serif;
$source: 'Source Sans Pro', $sans;
